@font-face {
  font-family: Mont Bold;
  src: url(../fonts/Mont-Bold.woff2);
}

@font-face {
  font-family: Mont Semibold;
  src: url(../fonts/Mont-SemiBold.woff2);
}

@font-face {
  font-family: Mont Regular;
  src: url(../fonts/Mont-Regular.woff2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mont Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
