@import './utils/_variables.module.scss';
@import './utils/placeholders.module.scss';

.header {
  @extend %uppercase;
  display: flex;
  justify-content: space-between;
  height: 64px;
  box-shadow: 0px 1px 0px $elementsColor;
  text-transform: uppercase;
  color: $secondaryColor;

  &__nav {
    display: flex;
    height: 100%;
  }

  &__nav_list {
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;

    margin: 0;
    padding: 0 0 0 24px;
  }

  &__nav_list_item {
    height: 100%;
  }

  &__nav_list_link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    transition: color 0.3s;

    &:hover {
      color: $primaryColor;
    }

    &__active {
      color: $primaryColor;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $primaryColor;
      }
    }
  }

  &__nav_list_link_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 100%;
    box-shadow: -1px 0px 0px $elementsColor;
  }
}

.main {
  margin-top: 40px;
  padding: 0 152px;
}

